In [1]:
# Importing the libraries
import spacy
import pandas as pd

In [2]:
# Initializing the spacy model
nlp = spacy.load('en_core_web_md')

In [6]:
# load the data
data = pd.read_csv('movies.txt', sep='\t', header=None)
data

                                                   0
0  Movie A :When Hiccup discovers Toothless isn't...
1  Movie B :After the death of Superman, several ...
2  Movie C :A darkness swirls at the center of a ...
3  Movie D :A humorous take on Sir Arthur Conan D...
4  Movie E :A 16-year-old girl and her extended f...
5  Movie F :In the last moments of World War II, ...
6  Movie G :The world at an end, a dying mother s...
7  Movie H :A musician helps a young singer and a...
8  Movie I :Corporate analyst and single mom, Jen...
9  Movie J :Adapted from the bestselling novel by...

In [9]:
# Convert the data to a list
movies = data[0].tolist()
movies

['Movie A :When Hiccup discovers Toothless isn\'t the only Night Fury, he must seek "The Hidden World", a secret Dragon Utopia before a hired tyrant named Grimmel finds it first.',
 'Movie B :After the death of Superman, several new people present themselves as possible successors.',
 'Movie C :A darkness swirls at the center of a world-renowned dance company, one that will engulf the artistic director, an ambitious young dancer, and a grieving psychotherapist. Some will succumb to the nightmare. Others will finally wake up.',
 "Movie D :A humorous take on Sir Arthur Conan Doyle's classic mysteries featuring Sherlock Holmes and Doctor Watson.",
 'Movie E :A 16-year-old girl and her extended family are left reeling after her calculating grandmother unveils an array of secrets on her deathbed.',
 "Movie F :In the last moments of World War II, a young German soldier fighting for survival finds a Nazi captain's uniform. Impersonating an officer, the man quickly takes on the monstrous identity of the perpetrators he is trying to escape from.",
 'Movie G :The world at an end, a dying mother sends her young son on a quest to find the place that grants wishes.',
 'Movie H :A musician helps a young singer and actress find fame, even as age and alcoholism send his own career into a downward spiral.',
 'Movie I :Corporate analyst and single mom, Jen, tackles Christmas with a business-like approach until her uncle arrives with a handsome stranger in tow.',
 'Movie J :Adapted from the bestselling novel by Madeleine St John, Ladies in Black is an alluring and tender-hearted comedy drama about the lives of a group of department store employees in 1959 Sydney.']

In [49]:
"""Function to find the most similar movie to a description"""
def next_movie(description):
    max_similarity = 0
    # Loop through the movies
    for movie in movies:
        # Calculate the similarity
        similarity = nlp(movie).similarity(nlp(description))
        # Check if the similarity is greater than the max_similarity
        if similarity > max_similarity:
            # If so, update the max_similarity and the movie
            max_similarity = similarity
    # Return the movie with the highest similarity
    return print('The most similar movie is:', movie[0:7], '- with a similarity of:', round(max_similarity, 2))

In [50]:
# Test the function
next_movie("""Will he save
their world or destroy it? When the Hulk becomes too dangerous for the
Earth, the Illuminati trick Hulk into a shuttle and launch him into space to a
planet where the Hulk can live in peace. Unfortunately, Hulk lands on the
planet Sakaar where he is sold into slavery and trained as a gladiator""")

The most similar movie is: Movie J - with a similarity of: 0.88